{% extends 'base.html' %}
 {% block content %}

 <h3>Create!</h3>

{% if error_message %}
<p><strong>{{ error_message }}</strong></p>
{% endif %}

 <form action = "{% url 'create'%}", method = 'POST' enctype = "multipart/form-data">
    {% csrf_token %}
    Title:<br/>
    <input type = "text" name = "title"/><br/>
    Body:<br/>
    <input type = "textbox" name = "body"/><br/>
    Url:<br>
    <input type = "text" name = "url"/><br/>
    <br>
    Image:<br>
    <input type = "file" name = "image"/><br/><br/>
    <input type = "submit", value = "create"/><br>

    </form>
    
 {% endblock content %}